
    <h3>Ajout du commentaire :</h3>
    <form method="post">
        <input type="text" name="commentaire" placeholder="Commentaire">
        <input type="email" name="mail" placeholder="Email">
        <input type="text" name="user" placeholder="Auteur">
        <input type="submit" value="Poster votre commentaire">
    </form>