{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajout une Catégorie :</h1>
    <form method="post">
        <input type="text" name="libelle">
        <input type="text" name="icon">
        <input type="submit" value="Enregistrer les modifications">
    </form>

{% endblock %}