{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajout de l'article :</h1>
    <form method="post">
        <input type="text" name="Titre">
        <textarea name="Description">
        </textarea>
        <input type="date" name="DateAjout" >
        <select name="Auteur">
            <option >Rebecca</option>
            <option >Alexandre</option>
            <option >Emilie</option>
            <option>Léo</option>
            <option >Aegir</option>
        </select>
        <select name="Catégorie">
            <option ><span class="fa f54f"></span>DIY</option>
            <option ><span class="fa f555"></span>Finance</option>
            <option ><span class="fa f6de"></span>Politics</option>
            <option ><span class="fa f553"></span>Fashion</option>
            <option ><span class="fa f2e7"></span>Food</option>
            <option ><span class="fa f4d7"></span>Travel</option>
            <option ><span class="fa f001"></span>Music</option>
        </select>
        <input type="submit" value="Enregistrer les modifications">
    </form>

{% endblock %}